
<section class="components-login">
  <br>
  <div class="container">
    <div class="row">
      
      <div class="col">
        <h2>Login</h2>
        <br>
        <form action="#">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" id="email" v-model="email" class="form-control">
          </div>

          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" v-model="password" class="form-control">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Logar</button>
          </div>
        </form>
      </div>

      <div class="col">
        <h2>Cadastrar</h2>
        <br>
        <form action="#">

            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" placeholder="Nome" name="name" id="name" v-model="name" class="form-control">
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" placeholder="Email" name="email" id="email" v-model="email" class="form-control">
            </div>
  
            <div class="form-group">
              <label for="password">Senha</label>
              <input type="password" name="password" id="password" v-model="password" class="form-control">
            </div>

            <div class="form-group">
              <label for="cpassword">contra senha</label>
              <input type="cpassword" name="cpassword" id="cpassword" v-model="cpassword" class="form-control">
            </div>
  
            <div class="text-center">
              <button type="submit" class="btn btn-success">Logar</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>

