
<section class="dashboard">
  <div class="row">
    <div>
      <button class="btn btn-info" v-on:click="logout">Logout</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <br>
        <h3>cadastro de participantes</h3>
        <br>
        <form @submit.prevent="register" method="post">
          <div name="name" class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" name="name" v-model="name" placeholder="nome">
          </div>
          
          <div name="email" class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" v-model="email" placeholder="digite seu Email">
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-warning">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

