
<section class="full-component">
  <div class="fullwidth">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbarOpen" v-bind:class="{'navbarOpenTransition': navbarOpen}">
        <a class="navbar-brand" v-on:click="toggle" id="sidebarCollapse" href="#"></span>Yschool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
           
          </ul>
          <span class="navbar-text">
            <div>
              <button class="btn btn-info" v-on:click="logout" type="button">Logout</button>
            </div>
          </span>
        </div>
      </nav>

      <div class="wrapper" >
          <!-- Sidebar -->
          <nav id="sidebar" v-bind:class="{'active': sidebarOpen, 'sidebarOpen': sidebarOpen}">
              <div class="sidebar-header">
                  <h5>Menu lateral</h5>
              </div>
      
              <ul class="list-unstyled components">
                  <p>Dummy Heading</p>
                  <li class="active">
                      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                      <ul class="collapse list-unstyled" id="homeSubmenu">
                          <li>
                              <a href="#">Home 1</a>
                          </li>
                          <li>
                              <a href="#">Home 2</a>
                          </li>
                          <li>
                              <a href="#">Home 3</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">Alunos</a>
                  </li>
                  <li>
                      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                      <ul class="collapse list-unstyled" id="pageSubmenu">
                          <li>
                              <a href="#">Page 1</a>
                          </li>
                          <li>
                              <a href="#">Page 2</a>
                          </li>
                          <li>
                              <a href="#">Page 3</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">Portfolio</a>
                  </li>
                  <li>
                      <a href="#">Contact</a>
                  </li>
              </ul>
      
          </nav>
      </div>
    </div>

    <div class="content-body" v-bind:class="{ contentbody: contentbody }">
      <router-view />
    </div>
    
</section>

